<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <img src="{{ profile.picture }}" alt="" />
        <h3>{{ profile.name }}</h3>
        <button onclick="logout()">
          <span class="material-symbols-outlined"> logout </span>
        </button>
      </div>
    </nav>
    <section class="container">{% block content %} {% endblock %}</section>

    <script>
      const logout = () => (window.location.href = "/logout");
    </script>
  </body>
</html>
